#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal {
  background: #efefef;
  width: 400px;
  height: 300px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.25);
}

.tab-ui {
  background: #efefef;
  padding: 20px;
  width: 400px;
}
.tab-ui .tab-group {
  /* border: 1px solid #ccc; */
  display: flex;
}

.tab-ui .tab-group a {
  background: #ddd;
  margin-right: 4px;
  padding: 4px 8px;
}

.tab-ui .tab-group a:hover {
  background-color: #fff;
}

.tab-contents {
  border: 2px solid #999;
  padding: 1rem;
}

.tab-contents h1 {
  margin: 4px;
}